/* line 1, ../sass/main.scss */
html, body {
  height: 100%;
  min-height: 100%;
}

/* line 6, ../sass/main.scss */
body {
  text-align: center;
  background-image: url(../../img/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* line 14, ../sass/main.scss */
.mainContent {
  height: 100%;
  width: 100%;
  background-image: url(../../img/texture.png);
  background: rgba(255, 255, 255, 0.5);
  position: relative;
  padding-top: 150px;
}
/* line 22, ../sass/main.scss */
.mainContent .navBar {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.05);
}
/* line 30, ../sass/main.scss */
.mainContent .navBar .content {
  max-width: 680px;
  text-align: center;
  margin: 0 auto;
}
/* line 35, ../sass/main.scss */
.mainContent .navBar .content img {
  max-width: 100%;
  margin: 0 auto;
  max-height: 110px;
  padding: 25px;
}
/* line 44, ../sass/main.scss */
.mainContent .links {
  width: 1010px;
  max-width: 100%;
  margin: 120px auto 0px auto;
  text-align: center;
}
/* line 51, ../sass/main.scss */
.mainContent .links a {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: #a90230;
  line-height: 70px;
  text-align: center;
  margin: 20px;
  color: #fff;
  font-size: 25px;
  text-decoration: none;
  transition: all 0.15s ease-out;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  position: relative;
  overflow: hidden;
}
/* line 68, ../sass/main.scss */
.mainContent .links a:hover {
  background: #fff;
  color: #a90230;
  text-shadow: 0px 1px 2px rgba(255, 255, 255, 0.2);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
}
/* line 75, ../sass/main.scss */
.mainContent .links a .effect {
  position: absolute;
  width: 150%;
  height: 45%;
  left: -20%;
  top: 60%;
  background: rgba(0, 0, 0, 0.1);
  transform: rotate(-30deg);
}
/* line 88, ../sass/main.scss */
.mainContent footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #2d2d2d;
}
